h1 {
  color: brown;
  text-align: center;
}
h2 {color: green;
font-style: oblique;
text-align: center;
}
p {
  font-family: sans-serif;
}
ul {line-height: 40px
}
p { MasterTitle
 font-style: responsible;
 text-align: center;
}
.line1 {
  color: inherit;
}
#line2 {
  color: red;
}
